<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657a99">  <td>19/02/03 01:04:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePasswordTest.init()[pri:0, instance:com.testing.amazon.sessionsuite.ChangePasswordTest@36f0f1be]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1405747618</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>19/02/03 01:04:38</td>   <td>928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordTest.changePasswordTest(java.util.Hashtable)[pri:0, instance:com.testing.amazon.sessionsuite.ChangePasswordTest@36f0f1be]">changePasswordTest</td> 
  <td>main@1405747618</td>   <td></td> </tr>
<tr bgcolor="b792a0">  <td>19/02/03 01:05:01</td>   <td>24191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.testing.amazon.sessionsuite.ChangePasswordTest@36f0f1be]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1405747618</td>   <td></td> </tr>
</table>
