<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Session Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfe896">  <td>17/11/14 01:30:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.init()[pri:0, instance:com.testing.amazon.sessionsuite.LoginTest@480bdb19]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@635152950</td>   <td></td> </tr>
<tr bgcolor="7080dc">  <td>17/11/14 01:30:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePasswordTest.init()[pri:0, instance:com.testing.amazon.sessionsuite.ChangePasswordTest@23d2a7e8]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1251584382</td>   <td></td> </tr>
<tr bgcolor="7080dc">  <td>17/11/14 01:31:01</td>   <td>8186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePasswordTest.changePasswordTest(java.util.Hashtable)[pri:0, instance:com.testing.amazon.sessionsuite.ChangePasswordTest@23d2a7e8]">changePasswordTest</td> 
  <td>TestNG@1251584382</td>   <td></td> </tr>
<tr bgcolor="bfe896">  <td>17/11/14 01:31:01</td>   <td>8186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.testing.amazon.sessionsuite.LoginTest@480bdb19]">loginTest</td> 
  <td>TestNG@635152950</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>17/11/14 01:31:01</td>   <td>8200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.testing.amazon.sessionsuite.ChangePasswordTest@23d2a7e8]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG@1251584382</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>17/11/14 01:31:01</td>   <td>8200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.testing.amazon.sessionsuite.LoginTest@480bdb19]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG@635152950</td>   <td></td> </tr>
<tr bgcolor="bfe896">  <td>17/11/14 01:31:06</td>   <td>12935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.testing.amazon.sessionsuite.LoginTest@480bdb19]">loginTest</td> 
  <td>TestNG@635152950</td>   <td></td> </tr>
<tr bgcolor="a7d2a1">  <td>17/11/14 01:33:07</td>   <td>134042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.testing.amazon.sessionsuite.LoginTest@480bdb19]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>TestNG@635152950</td>   <td></td> </tr>
<tr bgcolor="bfe896">  <td>17/11/14 01:33:07</td>   <td>134489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginTest(java.util.Hashtable)[pri:0, instance:com.testing.amazon.sessionsuite.LoginTest@480bdb19]">loginTest</td> 
  <td>TestNG@635152950</td>   <td></td> </tr>
</table>
